<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8 " >
        <titlе>Главная :: Доска объявлений </titlе>
    </head>
    <body>
        <hl>Объявления</hl>
        <div>
            <a href="{% url 'index' %}">Главная</a>
            {% for rubric in rubrics %}
            <a href="{% url 'by_rubric' rubric.pk %}"> {{ rubric.name }}</a>
            {% endfor %}
        </div>
        {% for bb in bbs %}
        <div>
            <h2 > {{ bb.title }} </h2>
            <p> {{ bb.content }} </p>
            <p><a href="{% url 'by_rubric' bb.rubric.pk %}">{{ bb.rubric.name }}</a></p>
            <p>{{ bb.published|date:"d.m.Y H:i:s"}} </р>
        </div>
        {% endfor %}
        </body>
</html>